body {
    background-image: url("/static/css/citrus.jpg");
    background-repeat: repeat-y;
}

.fixed-width-button {
    width: 120px;
    height: 40px;
    display: inline-block;
}

.text-on-image {
    text-shadow: 2px 2px 4px #000000; / Тень черного цвета /
}

.custom-card {
    background-color: #ADD8E6; / Светло-голубой цвет /

