{% extends "catalog/base.html" %}
{% block content %}
{% load my_tags %}
<div class="pricing-header px-3 py-3 pt-md-5 mt-5 pb-md-4 mx-auto text-center">
    <h1 class="display-2 text-on-image">{{title}}</h1>
    <p class="lead">Вы находитесь на сайте, предназначенном для продажи товаров</p>
</div>


<div class="container">
    <div class="row text-right mt-1 mb-4">
        <div class="col-12">
            <a class="p-2 btn btn-outline-primary" href="{% url 'catalog:create_product' %}">Добавить
                новый продукт</a>
        </div>
    </div>
    <div class="row text-center">
        {% for object in object_list %}
        <div class="col-3">
            <div class="card mb-4 box-shadow custom-card">
                <div class="card-header">
                    <h2>{{ object.name }}</h2>
                </div>
                <div class="card-body">
                    <p>Цена: <b>{{ object.price }}</b></p>
                    <p>Описание: <b>{{ object.description | truncatechars:100 }}</b></p>
                    <a href="{% url 'catalog:product_detail' object.pk %}" class="btn mt-auto btn-outline-danger">Детали</a>
                    <a href="{% url 'catalog:update_product' object.pk %}" class="btn mt-auto btn-outline-danger">Изменить</a>
                    <a href="{% url 'catalog:delete_product' object.pk %}" class="btn mt-auto btn-outline-danger">Удалить</a>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <ul class="pagination justify-content-end pagination-sm">
        {% if page_obj.has_previous %}
        <li class="page-item"><a class="page-link custom-card"
                                 href="?page=1"><<</a>
        </li>
        <li class="page-item"><a class="page-link custom-card"
                                 href="?page={{ page_obj.previous_page_number }}" ><</a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link custom-card" href="#" tabindex="-1"><<</a></li>
        <li class="page-item"><a class="page-link custom-card" href="#" tabindex="-1"><</a></li>
        {% endif %}
        {% for p in page_obj.paginator.page_range %}
        {% if p == page_obj.number %}
        <li class="page-item active"><a class="page-link custom-card" href="?page={{p}}">{{p}}</a></li>
        {% else %}
        <li class="page-item"><a class="page-link custom-card" href="?page={{p}}">{{p}}</a></li>
        {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
        <li class="page-item"><a class="page-link custom-card" href="?page={{page_obj.next_page_number}}">></a>
        </li>
        <li class="page-item"><a class="page-link custom-card" href="?page={{page_obj.paginator.num_pages}}">>></a>
        </li>
        {% else %}
        <li class="page-item"><a class="page-link custom-card" href="#">></a></li>
        <li class="page-item"><a class="page-link custom-card" href="#">>></a></li>
        {% endif %}
    </ul>
</div>

{% endblock %}