{% extends 'catalog/base.html' %}

{% block content %}

<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <p>Хотите отменить публикацию продукта "{{ object.name }}?"</p>
                        <button name="unpublish" type="submit" class="btn btn-success">Подтвердить</button>
                        <a href="{% url 'catalog:product_list' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
